# macOS System Files
.DS_Store

# Python Caches
__pycache__/
*.py[cod]
*pippo*

# SSL Certificate files (sensitive)
pindaroli-wildcard.key
pindaroli-wildcard.crt

# Ansible Secrets
.ansible/
ansible/vars/secrets.yml
ansible/vars/proxmox_secrets.yml
ansible/group_vars/all/secrets.yml
*.tfvars

# Local Environment & Secrets
xray_secrets.yml


# Backups & Archives
_OLD_ARCHIVE/
*.xml
*.exp
*.cfg

# Talos Secrets
talos-config/

# Global Secrets
secrets/
cert-manager/cloudflare-token-secret.yaml
__pycache__/
downloads/plugins
# Tdarr
tdarr/node/
tdarr/logs/Tdarr_Node_Log.txt

# Security: Google OAuth2 Secrets
client_secret_*.json

# New Google OAuth2 Secret File
oauth2-proxy/aouth2-secret-noncommitare.json
