
# SSL Certificate files (sensitive)
pindaroli-wildcard.key
pindaroli-wildcard.crt

# Ansible Secrets
ansible/vars/secrets.yml
ansible/vars/proxmox_secrets.yml
ansible/group_vars/all/secrets.yml
*.tfvars

# Local Environment & Secrets
setEnv.sh
xray_secrets.yml
client_secret*.json

# Backups & Archives
_OLD_ARCHIVE/
*.xml
*.exp
*.cfg
