# Python Caches
__pycache__/
*.py[cod]
*pippo*

# SSL Certificate files (sensitive)
pindaroli-wildcard.key
pindaroli-wildcard.crt

# Ansible Secrets
ansible/vars/secrets.yml
ansible/vars/proxmox_secrets.yml
ansible/group_vars/all/secrets.yml
*.tfvars

# Local Environment & Secrets
xray_secrets.yml


# Backups & Archives
_OLD_ARCHIVE/
*.xml
*.exp
*.cfg

# Talos Secrets
talos-config/

# Global Secrets
secrets/
cert-manager/cloudflare-token-secret.yaml
__pycache__/
