[Unit]
Description=Connect NVMe-oF Hot Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/nvme connect -t tcp -n nqn.2011-06.com.truenas:uuid:629d424c-e160-4bcf-ade8-b9b24d9fd137:nqn.2026-01.org.pindaroli:proxmox-hot -a 10.10.10.50 -s 4420
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
