[defaults]
inventory = inventory.ini
host_key_checking = False
ask_pass = False
become_ask_pass = False

[ssh_connection]
ssh_args = -F ~/.ssh/config -o BatchMode=yes -o StrictHostKeyChecking=no
pipelining = True
